body {
/*styling the content of the body.*/
background-color:#96c4c3 ;
  text-align:center;
}
img {
  /*styling the image.*/
  height:200px;
  width: 600px;
  
}
/*Unprdered list is styled and centered*/

h1 {
  /*styling the first text header*/
  padding: 10px;
  
  color:blue;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

ul {
  /*styling the unordered list*/
  padding: 10px;
  text-align: center;
}

p {
  text-align: center;
}

h2 {
  /*styling the second header*/ 
  font-size: 32px;
  color:#ddb63b;
  font-family: "Comic Sans MS", cursive, san-serif;
text-align: center;  
}

p {
    padding-bottom: 30px;
}

h3 {
  /*styling the third header*/
  color: #31541f;
  font-size: 32px;
  text-align: center;
}
a {/*styling the links*/
  a:link {color:#31541f; }
  a:visited {color:#31541f}
}


footer  {
  /*styling the footer and the ordered list*/

  width: 100px;
  height: 100 px
  
}
ol {
text-align:center;
}
  height: 100 px
  
}

